page {
  background-color: #F4F4F4;
}

.tab-content {
  color: #808080;
  padding: 20;
}

.title {
  font-size: 20;
  margin: 0 0 10 0;
  color: #3c3c3c;
}

.subtitle {
  font-size: 14;
  margin: 14 0 6 18;
  color: #3c3c3c;
}

.message {
  font-size: 14;
  color: #284848;
  margin: 8 0 8 18;
}

label {
  font-size: 14;
}

button {
  background-color: #6494AA;
  padding: 8 12;
  margin: 4 10;
  font-size: 13;
  border-radius: 4;
}

.button {
  color: #ffffff;
}

.button-positive {
  background-color: #90A959;
}

.button-available {
  background-color: #E0A458;
}

.button-company {
  background-color: #A63D40;
}